* {
    margin: 0px auto;
    padding: 0px;
    width: 100%;
}

#container {
    border: 3px solid blue;
}

#section {
    border: 3px solid red;
    display: flex;
    height: 25%;
}

.header {
    display: flex;
    flex-flow: column;
    gap: 1em;
}

.header-text {
    /* background-color: green; */
    display: flex;
    height: 25%;
}

.header-links {
    display: flex;
    list-style-type: none;
}

.hero {
    display: flex;
}

.info {
    display: flex;
    flex-flow: column;
}
